@font-face {
  font-family: "Proto";
  src: url("assets/fonts/0xProtoNerdFont-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: sans-serif;
  position: relative;
  overflow: hidden; /* prevents scrollbars caused by blur scaling */
}

/* Blurred background */
body::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  background: url("assets/ui/background.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px);
  transform: scale(1.1); /* prevents blur edges showing */
  z-index: -1;
}

.navbar {
  user-select: none;
  background: #000000;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-family: "Proto", sans-serif;
}

.menu {
  user-select: none;
  background: #191919;
  color: white;
  padding: 10px;
  display: none;
  font-family: "Proto", sans-serif;
}

.menu a {
  user-select: none;
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.menu a:hover {
  user-select: none;
  background: #232323;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.library-item {
  background: #191919;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 8px;
  color: white;
}

.library-item h3 {
  margin-top: 0;
}

.library-item a {
  display: block;
  color: #ddd;
  padding: 5px 0;
  text-decoration: none;
}

.library-item a:hover {
  color: #fff;
}

#pages img {
  margin-bottom: 20px;
  border-radius: 5px;
}
