/* BASE CSS */
/* THIS IS CODE GLOBAL ACROSS ALL FILES */

@font-face {
    font-family: '0xProtoNerdFontMono';
    src: url('/font/0xProtoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.version-id {
  user-select: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  color: #ff0000;
  font-family: monospace;
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: '0xProtoNerdFontMono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #1a1a1a;
    color: #fff;
    overflow-x: hidden;
    padding-left: 5px;
    padding-right: 5px;
    color: red;
}
